.author__hero {
	display: grid;
	grid-template-columns: 1fr 1.3fr;
	margin-bottom: 50px;
	text-align: center;
}

.author__info {
	align-self: center;
}

.author__title {
	font-size: 34px;
	font-family: "Patrick Hand", sans-serif;
	line-height: 1.4;
	text-align: center;
	margin: 0 0 20px 0;
}

.author__text {
	text-align: justify;
	font-size: 20px;
	line-height: 1.4;
	margin: 0 0 20px 0;
}

.author__img {
	height: 400px;
	width: 400px;
	border-radius: 50%;
	object-fit: cover;
	align-self: center;
	margin-left: 50px;
}