.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.modal--visible {
	opacity: 1;
	pointer-events: all;
}

.modal__content {
	position: relative;
	max-width: 600px;
	width: 100%;
	height: auto;
	background-color: var(--bg-color);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	border-radius: 22px;
	padding: 40px;
	transform: scale(0.5);
	transition: transform 0.3s ease;
}

.modal__content--visivle {
	transform: scale(1);
}

.modal__list {
	margin: 0;
	padding: 0;
	padding-left: 15px;
}

.modal__close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 30px;
	cursor: pointer;
}