.preview {
	padding-top: 0;
}

.preview__hero {
	display: grid;
	grid-template-columns: 1.3fr 1fr;
	margin-bottom: 50px;
}

.preview__info {
	align-self: center;
}

.preview__title {
	font-size: 30px;
	line-height: 1.4;
	margin: 0 0 40px 0;
}

.preview__text {
	font-size: 20px;
	line-height: 1.4;
	margin: 0 0 10px 0;
	max-width: 710px;
}

.preview__text:last-of-type {
	margin-bottom: 40px;
}

.preview__img {
	height: 400px;
	width: 400px;
	border-radius: 50%;
	object-fit: cover;
}

.preview__picture {
	justify-self: center;
}
