*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

:root {
	--bg-color: hsl(0, 0%, 100%);
	--secondary-bg: hsl(0, 0%, 97%);

	--main-text: hsl(0, 0%, 0%);
	--secondary-text: hsl(0, 0%, 83%);

	--accent: hsl(35, 100%, 63%);
	--accent-light: hsl(35, 100%, 73%);
}
