.h2 {
	font-size: 26px;
	line-height: 28px;
	font-weight: 500;
	margin: 0;
}

.h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	margin: 0;
}

.link {
	color: var(--main-text);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.time,
.tag {
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: var(--secondary-text);
}

@media screen and (min-width: 1440px) {
	.h2 {
		font-size: 28px;
		line-height: 30px;
	}
}
