.mediumllArticle {
	display: grid;
	gap: 10px;
}

.mediumllArticle__picture {
	position: relative;
	aspect-ratio: 16 / 9;
	border-radius: 10px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.mediumllArticle__picture > span {
	border-radius: 10px;
}

.mediumllArticle__img {
	border-radius: 10px;
}
