.aa-Form {
	border-radius: 10px;
	margin-bottom: 40px;
}

.aa-Form:focus-within {
	border-color: var(--accent);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.aa-Panel {
	border-radius: 10px;
}

.aa-Item {
	cursor: auto;
}

@media screen and (max-width: 681px) {
	.aa-DetachedSearchButton {
		border-radius: 10px;
		margin-bottom: 40px;
	}
}
