.smallArticle {
	display: grid;
	gap: 15px;
}

.smallArticle--underline {
	padding-bottom: 15px;
	border-bottom: 2px solid var(--secondary-text);
}

.smallArticle__info {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
