.tags {
	margin-bottom: 40px;
}

.tags__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 10px;
}

.tags__link {
	background-color: var(--secondary-bg);
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: var(--main-text);
	transition: box-shadow 0.3s ease;
}

.tags__link:last-child {
	margin-right: 0;
}

.tags__link:hover {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
